
<div class="container" ng-controller="subject1">
  <h1 style="text-align: center"> Choose the categories </h1>
  <div class="form-group" style="width: 30%; margin: 25px auto">
    <form class="form-group">
      <div>
        <select name="subject" id="subject" style="margin-bottom: 15px" ng-model="subject" ng-click='showClass()'>
          <option value="">--Select Subject--</option>
          <option ng-repeat="sub in subjectList" value="[[sub.subjectName]]">[[sub.subjectName]]</option>
        </select>
      </div>
      <select name="class" id="class" style="margin-bottom: 15px" ng-model="class" placeholder="Class" ng-change='showBoard()' ng-show='class'>
        <option value="">--Select Class--</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="board" id="board" ng-model="board" ng-change='create()' ng-show='board'>
        <option value="">--Select Board--</option>
        <option value="CBSE">CBSE</option>
        <option value="ICSE">ICSE</option>
        <option value="JEEM">JEEMains</option>
        <option value="JEEA">JEEAdvanced</option>
        <option value="NEET">NEET</option>
      </select>

      <div class="row">
        <select id="topicId" name="topic" ng-model="topicId" ng-show='topic' ng-click="showQues()">
          <option class="col-md-6" ng-repeat="top in topicList | filter: check" value="[[top.topicId]]"> [[top.topicName]] </option>
        </select>
        <input class="col-md-4" type="text" autocomplete="off" ng-model="check" style="margin-bottom: 15px" placeholder="Filter" ng-show='topic'>
        <br>
      </div>
    </form>
  </div>
  <!-- <div class="container" ng-controller= "subject1"> -->

  {{#if successMessage}}
    <div class="alert alert-success" role="alert" style=" width: 30%; margin: 25px auto">
      {{successMessage}}
    </div>
  {{/if}}
  {{#if errorMessage}}
    <div class="alert alert-danger" role="alert" style=" width: 30%; margin: 25px auto">
      {{errorMessage}}
    </div>
  {{/if}}

  <div class="container">
    <h5>Question ID: {{question._id}} </h5>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Subject ID</th>
        <td>{{question.SID}}</td>
      </tr>
      <tr>
        <th>Topic</th>
        <td>
          {{!-- <div ng-repeat="top in topicList"> [[top.topicName]] --}}
  </div>
  </td>
  </tr>
  <tr>
    <th> Question </th>
    <td> {{question.questionName}} <img src="/{{question.imagePath.[0]}}" style="width:75px; height:50px;" /> </td>
  </tr>
  <tr>
    <th colspan="2"> Options </th>
  </tr>
  <tr>
    <td> A) {{question.option1}} <img src="/{{question.imagePath.[1]}}" style="width:75px; height:50px; margin-right:100px" /> </td>
    <td> B) {{question.option2}} <img src="/{{question.imagePath.[2]}}" style="width:75px; height:50px;" /> </td>
  </tr>
  <tr>
    <td>
      C) {{question.option3}} <img src="/{{question.imagePath.[3]}}" style="width:75px; height:50px; margin-right:100px; margin-top:50px" />
    </td>
    <td>
      D) {{question.option4}} <img src="/{{question.imagePath.[4]}}" style="width:75px; height:50px;" />
    </td>
  </tr>
  <tr>
    <th> AnswerKey </th>
    {{!-- <td> <span ng-repeat="ans in questionList.answerKey"> <strong> [[ans]] </strong> </span> </td> --}}

    <td> {{question.answerKey}} </td>
  </tr>
  <tr>
    <th>Solution</th>
    <td>{{question.solution}} <img src="/{{question.imagePath.[5]}}" style="width:75px; height:50px;" /></td>
  </tr>
  <tr>
    <th>Level</th>
    <td>{{question.level}}</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>{{question.status}}</td>
  </tr>

  </table>
</div>
{{!--
  var id = {};
  id.data = data[0].topicId;
  $.post("/api/v1/topic/name/", id, function(result) {
    console.log("Name searching...");
    console.log(result);
    $scope.topicList = result;
    $scope.$apply(); --}}
<div class="form-group" style="width: 30%; margin: 25px auto" ng-show='showques'>
  <form class="form-group" id="myForm" enctype="multipart/form-data" method="POST" action="/question/add">
    <input type="text" name="sid" ng-model="sid" ng-hide=true value="[[sid]]"></input>
    <input type="text" name="topic1" ng-model="topic1" ng-hide=true value="[[topic1]]"></input>
    <input type="text" name="questionId" ng-hide=true value={{question._id}}></input>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg btn-block" name="check" value="update"> Add another </button>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg btn-block" name="check" value="new"> Submit </button>
    </div>
    <a href="/question/view"> Go back </a>
  </form>
</div>
</div>




<script>
  app.controller("subject1", function($scope) {


    getSubjects();

    function getSubjects() {
      $.get("/api/v1/uniqueSubject/all", function(data) {
        console.log(data);
        $scope.subjectList = data;
        $scope.$apply();
      });
    }

    $scope.class = false;
    $scope.board = false;
    $scope.topic = false;
    $scope.showClass = function() {
      $scope.class = true;
    }
    $scope.showBoard = function() {
      $scope.board = true;
    }

    $scope.showques = true;
    $scope.showQues = function() {
      // $scope.showques = true;
      console.log($scope.topicId);
      $scope.topic1 = $scope.topicId;

    }
    $scope.create = function() {

      $scope.topic = true;
      var tempBoard = $scope.board;
      console.log(typeof(tempBoard));
      var boardInitials = tempBoard.substring(0, 4);
      var temp = boardInitials.concat($scope.class);
      var temp2 = $scope.subject.substring(0, 4).toUpperCase();
      var SID = temp.concat(temp2);
      console.log(SID);
      $scope.sid = SID;

      $.get("/api/v1/topic/mongo/" + SID, function(data) {
        console.log(data);
        var id = {};
        id.data = data[0].topicId;
        console.log(id);
        $scope.$apply();
        $.post("/api/v1/topic/name/", id, function(result) {
          console.log("Name searching...");
          console.log(result);
          $scope.topicList = result;
        });
      });
    }

    $scope.retain = function() {
      document.getElementById("myForm").reset();
    }
  });
</script>
